@keyframes marquee {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(calc(0px - 100% - 100px));
    }
}

.marquee-content {
    animation: marquee 10s linear infinite;
    animation-play-state: paused;
}

.marquee:hover .marquee-content {
    animation-play-state: running;
}